*, html, body{
    font-family: 'Quicksand', sans-serif;
}

a:hover {
    text-decoration: none;
}
.principal {
    background-color:   #527780  ;
    /* rgb   82, 119, 128 */
}

.bg-transparente {
    background-color: transparent;
}

.navbar-sapp {
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
    margin-left: 15px;
}
.navbar-sapp:hover {
    color:  #c5d5de ;
}

.item-sapp {
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
}
.item-sapp:hover {
    color:  #c5d5de ;
}

.pad-image{
    padding: 20px;
}

.texto-claro{
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
}

.icono-claro{
    color:  #c5d5de ;
}

.icono-oscuro{
    background-color:   #527780  ;
}

.btn-sapp{
    background-color: #527780;
    color: #e2eaf0;
}

.btn-sapp:hover{
    background-color: #6a8a92;
    color: #e2eaf0;
}

.header-notif-sapp-oscuro {
    background-color:   #527780  ;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
}


.bg-menu-sapp{
    background-color:   #527780  ;
}

.texto-sapp{
    color: #90a1ab;
    font-family: 'Quicksand', sans-serif;
}
.texto-sapp:hover{
    color: #627682;
    text-decoration: none;
}

.link-sapp-activo{
    color: #ffffff;
}
.link-sapp-activo:hover{
    color: #ffffff;
}

.link-item {
    margin-left: 3px;
}

.children-sapp{
    font-size: 12px;
}

.pad-item-sapp {
    padding: 10px;
    border-radius: 10px;
    display: block;
}